<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <title>CleanMe - Cleaning Company Website Template</title>

        {% load static %}
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Cleaning Company Website Template" name="keywords">
        <meta content="Cleaning Company Website Template" name="description">

        <!-- Favicon -->
        <link href="../static/images/login.jpg" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="../static/css/style.css" rel="stylesheet">

</head>
<body>
<!-- Header Start -->
<br><br>
           <!-- Service Start -->
            <div class="service">
                <div class="container">
                    <div class="section-header">
                        <p>Our Services</p>
                        <h2>Provide Services Worldwide</h2>
                    </div>
                    <div class="row">

                        <div class="col-lg-3 col-md-6">
                            <div class="service-item">
                                <img src="{% static  %}" alt="Service">
                                <h3>Flour Cleaning</h3>
                                <p>
                                    Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare
                                </p>
                                <a class="btn" href="">Learn More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Service End -->
</body>
</html>